.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: 50%;
}

.logo {
  padding: 10px 30px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  position: relative;
  z-index: 4;
}

.logoImg {
  width: 34px;
  display: inline-block;
  height: 34px;
  margin-left: -2px;
  margin-top: -2px;
  margin-right: 10px;
  border-radius: 30px;
  text-align: center;

  img {
    display: block;
    width: 100%;
  }
}
